<!DOCTYPE HTML>

<html>
	<head>
		<title>sparqlify</title>
		 <link rel="stylesheet" href="www/bower_components/bootstrap/dist/css/bootstrap.css">
	</head>

	<% var className = (current.source == 'index') ? "homepage" : current.source; %>	
	<body class="<%- className %>" >
		 <script src="www/bower_components/jquery/dist/jquery.js"></script>
 		 <script src="www/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	  
		<!-- Header -->
		<%- partial("_shared/header") %>
		
		<% if(current.source == 'index'){ %>
			<%- yield %>
		<% } else{ %>
		<div class="container">
			<div id="content">
				<%- yield %>
			</div>
			<div id="dlBox">
				<%- partial("_shared/dlbox.ejs") %> 
			</div>
		<% } %>
		</div>
		<!-- Footer -->
		<%- partial("_shared/footer") %>
	  </div>
	</body>
</html>
