<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <% for(slug in public.blog._data) { %>
    <% var post = public.blog._data[slug] %>
      <item>
        <title><%- post.title %></title>
        <description><![CDATA[<%- partial("blog/" + slug) %>]]></description>
        <pubDate><%- Date(post.date) %></pubDate>
        <link><%- post %></link>
        <guid isPermaLink="true"><%- post %></guid>
      </item>
    <% } %>
  </channel>
</rss>
